.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.n-left{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.n-name{
    font-weight: bold;
    font-size:20px
}

.n-right{
    display: flex;
    align-items: center;
}

.n-list>ul{
    display: flex;
    gap: 2rem;
    list-style-type: none;
    margin-right: 4rem;
}

.n-list ul li:hover{
    cursor: pointer;
    color: var(--orange);
}

.button{
    margin-right:4rem;
}