.intro{
    display: flex;
    height: 70vh;
    margin-top: 6rem;
    justify-content: space-between;
}
.i-left *{
    margin: 0;
    padding: 0;
}
.i-left h1{
    font-size: 3rem;
}
.i-name{
    color: orange;
}